body {
	margin: 0;
	background-color: #000;
	color: white;
	border: solid;
	border-color: #FF6600;
	font-size: 16px;
}
.head_container {
	display: flex;
	flex-direction: column;
	background-image: url(papka/phon.jpg);
	background-size: cover; 
	height: 100vh;
	color: #FF6600;
	justify-content: center;
	align-items: center;
	font-family: 'Kelly Slab', cursive;
}
.logo {
	height: 3em
}
.menu_container {
	padding: 10px;
	border: solid;
	border-color: #FF6600;
}
#menu:hover {
	color: #f00;
	font-size: 22px;
}
#sait:hover {
	color: #f00;
	font-size: 22px;
}
#kontakti:hover {
	color: #f00;
	font-size: 22px;
}
.menu_container a {
	color: #FF6600;
	text-decoration: none;
	font-size: 1.25em;
}
.menu_container ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.header_button {
	color: #FF6600;
	text-decoration: none;
	background-color: none;
	padding: 5px 10px;
	margin: 80px;
	border: solid;
	border-radius: 5%;
	border-color: #FF6600;
}
.header_button:hover {
	font-size: 18px;
	border: ridge;
	color: #f00;
}
.text_container {
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em
}
.text_container a {
	text-decoration: none;
	color: #FF6600;
}
.text_container a:hover {
	text-decoration: underline;
	color: red;
}
.addres_container {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
	color: black;
	background-color: #FF6600;
	display: flex;
	padding: 20px;
	font-size: 3em;
}
.addres_container a {
	color: #fff;
}
.address_item {
	margin-left: 20px;
}
.address_item p {
	margin-bottom: 50px;
}
.addres_container h3{
	margin-top: 0;
}
#map {
	height: 500px;
	width: 80%;
}
.photo_container {
	display: flex;
	justify-content: space-around;
}
.photo_container img {
	margin: 0 5px;
	border: solid;
	border-color: #FF6600;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #FF6600;
	padding: 20px;
	margin: 20px;
	color: #000;
	font-size: 1.3em
}
.footer_container a {
	color: black;
}
.footer_photo_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer_photo_container img {
	height: 60px;
    padding: 0 12px;
}

/* Фоторама */

.fotorama__wrap {
	margin: 5px auto;
	border: solid;
	border-color: #FF6600; 
}

@media (max-width: 600px) {
	.footer_container{
		flex-direction: column;
	}
} 
@media (max-width: 620px) {
	.addres_container{
		flex-direction: column;
	}
}
@media (max-width: 420px) {
	.small{
		font-size: 2em;
	}
}
@media (max-width: 280px) {footer_photo_container
	.menu_container{
		flex-direction: column;
	}
}
@media (max-width: 414px) {
	.fotorama__wrap{
		height: 35vh;
	}
}
@media (max-width: 550px) {
	.footer_photo_container{
		height: 80px;
	}
}
